[submodule "vendor/yaml-cpp"]
	path = vendor/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "vendor/CADMesh"]
	path = vendor/CADMesh
	url = http://sedipcc175.extra.cea.fr/gitea/fbenedet/CADMesh.git
